
#bodyhome {
    height: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerHome {
    font-family: Verdana, Arial,sans-serif;
}
.mainHome{

}
.welcometop{

}
.welcomeMid.ul {
    list-style-type: none;
}




.welcomebot{

}


